@{
    ViewBag.Title = "Home Page";
}

<script>

    function funcaoTeste(/*mov_malote_englobador_id, tp_movimento, controle_id*/)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("BuscarPesoItens")",
            //data:
            //{
            //    mov_malote_englobador_id: mov_malote_englobador_id,
            //    tp_movimento: tp_movimento,
            //    controle_id: controle_id
            //},
            success: function(data)
            {
                $("#render").html(data);
            },
            error: function(errMsg)
            {
                console.log("Erro: " + JSON.stringify(errMsg));
            }
        });
    }

</script>

<div class="jumbotron">

    <h3 style="text-align: center;">TESTE</h3>

    <div style="padding:2em 0em 2em 0em; text-align:center;">
        <input type="button" id="btnTeste" value="TESTE" onclick="funcaoTeste()" />
    </div>

    <div id="render">

    </div>

</div>