@model List<Teste.Models.ItemModel>

<div>
    <tr id="trpeso" class="tbpesos tbitems">
        <td colspan="999" style="background-color:#dedede; padding-left: 50px;">
            <table id="tbpeso" class="table table-condensed" style="font-size:11px;">
                <thead>
                    <tr>
                        <th>Qtde</th>
                        <th>Produto</th>
                        <th>Peso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupBy(i => new { i.ItemId, i.ItemNome, i.Peso }).Select(grp => new {grp.Key.ItemId, grp.Key.ItemNome, grp.Key.Peso, total = grp.Count()}))
                    {
                        <tr id="trpeso">
                            <td>@item.total</td>
                            <td>@item.ItemNome</td>
                            <td>@item.Peso</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</div>